*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d3b495;

}

.container{
    margin:100px 0;
    background-color: #d3b495;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login , .register{
    background-color: #ffffff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0,.3);
    width: 500px;
}
h1{
    color: #dba269;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    position: relative;
}
h1::after{
    content: "";
    height: 3px;
    width: 35%;
    position: absolute;
    top: 100%;
    left: 35%;
    background-color: #d0853a;
    margin: 20px 0;
}

.form{
    margin-top: 35px;
}
.form .form-control{
    padding: 10px 0;
    width: 100%;
}
.form-control label{
    display: block;
    text-transform: capitalize;
    color: #d4b8a7;
    font-size: 22px;
    margin-bottom: 7px;
}
.form-control input{
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px #d4b8a7 solid;
    outline: none;
    background-color: #fcf8f5;
}
.form-control input:focus{
    border: 2px #dba269 solid;
}

.btn{
    width: 100%;
    padding: 10px 15px;
    background-color: #d3b495;
    border: 1px #d3b495 solid;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    font-size: 23px;
    cursor: pointer;
    transition: .3s;
    margin-top: 25px;
}
.btn:hover{
    background: transparent;
    color: #d3b495;
}
.form p{
    font-size: 15px;
    color: #888;
    margin-top: 25px;
    text-align: center;
}

.link{
    text-decoration: none;
    color: #d0853a;
    position: relative;
    font-weight: 600;
}
.link::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #d0853a;
    transition: .3s;
}
.link:hover::after{
    width: 100%;
}